<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thông báo thành công</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thành Công</h4>
        <p>Tài khoản của bạn đã được đăng ký thành công. Vui lòng kiểm tra email để kích hoạt tài khoản.</p>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
